*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 490px;
  padding-top: 10px;
  background-image: url(../images/main/bruce-tang-uiykhf8K3wY-unsplash.jpg);
  background-size: cover;
  background-position: center 41%;
  opacity: 0.9;
}

nav{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  
}

nav .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icono-pua{
  width: 120px;
}

#logo{
  width: 250px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

ul li{
  list-style: none;
}

ul li{
  text-decoration: none;
  letter-spacing: 1px;
}


ul li a{
  text-decoration: none;
  color: black;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #f6f7f9;
}



 form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 400px;
  border-radius: 15px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #ffffff;
  box-shadow:  #2b424d 0px 0px 40px;
}

form h2{
 font-size: 20px;
 align-self: flex-start;
 margin-bottom: 10px;
 color: #2c3036;

}

form label, fieldset{
  color: #414851;
}

fieldset{
  border: 1px solid #c6c8cb;
  padding: 10px;
  border-radius: 5px;
}

legend{
  font-size: 16px;
  color: #2c3036;
  padding: 0 5px;
}

fieldset div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

form input, fieldset{
  width: 300px;
  height: 30px;
}
form input,
button,
textarea{
  border-radius: 5px;
  border: 1px solid #c6c8cb;

}

form input[type='radio']{
  width: auto;
  margin-right: 10px;
}

form input,
textarea{
  padding: 10px;
}

form textarea{
  min-width: 300px;
  height: 80px;
}

 form p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

fieldset{
  height: 100px;
}

#edad-permitida{
  display: flex;
  width: 300px;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.edad{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 15px;
 text-align: center;
}

.edad input{
  width: 60px;
}

input[type="file"]{
  height: 40px;
}

form p:last-of-type{
  border-top: 1px solid #c6c8cb;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding-top: 20px;
}

form p:last-of-type button{
  width: 300px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.5px; 
}

.cargar-producto{
 background-color: #35b6a3;
}

.limpiar{
  background-color: #ff5f5c;
}

footer{
  height: 300px;
  background-color: #2b424d;
  color: #adadad;
}