*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  height: 490px;
  padding-top: 10px;
  background-image: url(../images/main/bruce-tang-uiykhf8K3wY-unsplash.jpg);
  background-size: cover;
  background-position: center 41%;
  opacity: 0.9;
  margin-bottom: 25px;
}

nav{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  
}

nav .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icono-pua{
  width: 120px;
}

#logo{
  width: 250px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

ul li{
  list-style: none;
}

ul li{
  text-decoration: none;
  letter-spacing: 1px;
}


ul li a{
  text-decoration: none;
  color: black;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
}


.guitarras{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 120px;
}

h2{
  text-transform: uppercase;
  align-self: center;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 2px solid #332c62;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.guitarra{
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.7s ease;
}

.guitarra:hover{
  border-color: #314853;
}



.guitarra img{
  width: auto;
  height: 300px;
}

.guitarras > article{
  display: flex ;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  
}

.guitarras .articulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.titulo h3{
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.guitarra button{
  background-color: #332c62;
  padding: 5px;
  border-radius: 5px;
}

.guitarra button a{
  color: #fff;
  text-decoration: none;
}

footer{
  min-height: 300px;
  background-color: #1d2331;
  color:#b0c2c4b7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 50px;
  padding: 40px;
 
}

footer ul{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

footer li > a{
  color:#b0c2c4b7;
}

footer ul li:first-of-type{
  padding-bottom: 8px;
  border-bottom: 3px solid #332c62;
}

footer ul li:first-of-type a{
  color: #fff;

}