*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  display: flex;
  flex-direction: column;
} */

header{
  height: 490px;
  padding-top: 10px;
  background-image: url(../images/main/bruce-tang-uiykhf8K3wY-unsplash.jpg);
  background-size: cover;
  background-position: center 41%;
  opacity: 0.9;
  margin-bottom: 25px;
}

nav{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  
}

nav .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icono-pua{
  width: 120px;
}

#logo{
  width: 250px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

ul li{
  list-style: none;
}

ul li{
  text-decoration: none;
  letter-spacing: 1px;
}


ul li a{
  text-decoration: none;
  color: black;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

h2{
  margin-top: 0px;
  text-transform: uppercase;
 }

.guitarras{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 70px;
}

.guitarra{
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  transition: border-color 0.7s ease;
}

.guitarra:hover{
  border-color: #314853;
}



.guitarra img{
  width: 100%;
}

.guitarras > article{
  display: flex ;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  
}

.guitarras .articulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



footer{
  height: 300px;
  background-color: #2b424d;
  color: #adadad;
}